# Para instalar una versión específica
#package==version

# Para instalar una versión igual o superior
#package>=version

# Para instalar la versión más reciente
#package

configobj==5.0.8
prettytable==3.6.0
urllib3==1.26.18
zeep==4.2.1
